@import "mobile.scss";
@import 'variables.scss';

html{
    font-family: $font-family;
    width:1172px;
    margin:auto;
}

body{
    background-color:$background;
    margin:72px 0;
    font-size:14px;
    font-family:$font-family;
    color:$text-default-color;
    width: 100%;
}

/* Display */
// .hidden{
//     display:none!important;
// }


/* Text */
.uppercase {
    text-transform: uppercase;
}

.font-bold{
    font-weight: bold!important;
}
.font-800{
    font-weight: 800!important;
}

.font-14px{
    font-size:14px!important;
}
.font-16px{
    font-size:16px!important;
}
.font-18px{
    font-size:18px!important;
}
.font-20px{
    font-size:20px!important;
}
.font-24px{
    font-size:24px!important;
}

.text-black{
    color:black!important;
}

/* Button */
.btn{
    display:flex;
    align-items: center;
    background-color: $button-default-color;
    border:2px solid white;
    padding:10px 20px;
    border-radius:3px;
    cursor:pointer;
    &.btn-outline{
        background-color: white;
        border-color:$button-default-color;
        .btn--text{
            color:rgba(0,0,0,0.4);
        }
        &:hover{
            background-color: #f2f2f2;
        }
    }
    &.btn-flat{
        padding:0px!important;
        border:0px!important;
        background:white!important;
    }
    &:hover{
        background-color: $button-default-color-darker;
    }
    .btn--icon{
        color:$icon-default-color;
        margin-right:20px;
        height:24px;
        width: 24px;
        &.icon-right{
            margin-right:0px;
            margin-left:20px;
        }
    }
    .btn--text{
        font-family: $font-family;
        color:white;
        font-size:12px;
        font-weight: bold;
    }
}
.btn-primary{
    background-color: $primary;
    border-color:white;
    &.btn-outline{
        background-color: white;
        border-color:$primary;
        .btn--text{
            color:$primary;
        }
        &:hover{
            background-color: #f2f2f2;
        }
    }
    &:hover{
        background-color: $primary-darker;
    }
    .btn--text{
        color:white;
    }
}

/* Icon */
.icon{
    color:$icon-default-color;
    height:20px;
    width:20px;
}

/* Layout */
.flex{
    display:flex!important;
}
.items-center{
    align-items: center!important;
}

/* Width */
.w-24{
    width:24px!important;
}
.w-full{
    width:100%!important;
}
.w-1\/2{
    width:50%!important;
}
.w-1\/3{
    width:33.34%!important;
}
.w-1\/4{
    width:25%!important;
}
.w-1\/5{
    width:20%!important;
}
.w-1\/6{
    width:16.67%!important;
}

/* Height */
.h-24{
    height:24px!important;
}

/* Padding */
.px-0, .pl-0, .p-0{
    padding-left:0px!important;
}
.px-0, .pr-0, .p-0{
    padding-right:0px!important;
}
.py-0, .pt-0, .p-0{
    padding-top:0px!important;
}
.py-0, .pb-0, .p-0{
    padding-bottom:0px!important;
}
.px-10, .pl-10{
    padding-left:10px!important;
}
.px-10, .pr-10{
    padding-right:10px!important;
}
.py-10, .pt-10{
    padding-top:10px!important;
}
.py-10, .pb-10{
    padding-bottom:10px!important;
}
.px-8, .pl-8{
    padding-left:8px!important;
}
.px-8, .pr-8{
    padding-right:8px!important;
}
.py-8, .pt-8{
    padding-top:8px!important;
}
.py-8, .pb-8{
    padding-bottom:8px!important;
}
.pl-20\%{
    padding-left:20%;
}

/* Margin */
/* Padding */
.mx-0, .ml-0, .m-0{
    margin-left:0px!important;
}
.mx-0, .mr-0, .m-0{
    margin-right:0px!important;
}
.my-0, .mt-0, .m-0{
    margin-top:0px!important;
}
.my-0, .mb-0, .m-0{
    margin-bottom:0px!important;
}
.mx-12, .ml-12, .m-12{
    margin-left:12px!important;
}
.mx-12, .mr-12, .m-12{
    margin-right:12px!important;
}
.my-12, .mt-12, .m-12{
    margin-top:12px!important;
}
.my-12, .mb-12, .m-12{
    margin-bottom:12px!important;
}
.ml-20\%{
    margin-left:20%;
}

/* TABS */
.tabs{
    display:flex;
    flex-flow: row;
    height:100%;
    align-items: center;
    .tabs-menu{
        margin-right:24px;
        height:100%;
        display:flex;
        align-items: center;
        &.active{
            border-bottom:2px solid $primary;
        }
        &:last-child{
            margin-right:0px;
        }
    }
}

/* CUSTOM */
.profile--container{
    display:flex;
    flex-flow: column;
    width:100%;
    .profile-main--container{
        width:100%;
        height:300px;
        background:white;
        display:flex;
        flex-flow: column;
        .profile-action{
            width:100%;
            display:flex;
            justify-content: flex-end;
            .profile-action--container{
                margin:24px 32px 0px 0px;
            }
        }
        .profile-cover{
            width:100%;
            flex-grow: 1;
            display:flex;
            align-items: center;
            flex-flow:column;
            .profile-cover--button{
                z-index:1000;
            }
            .profile-data{
                width:100%;
                display:flex;
                flex-flow: column;
                align-items: center;
                margin-top:16px;
                .profile-data--element{
                    display:flex;
                    flex-flow: row;
                    align-items: center;
                    width:100%;
                    margin:4px 0px;
                    color:$text-color-darker;
                    
                }
            }
        }
        .profile-footer{
            height:60px;
            border-top:1px solid $border;   
            box-shadow:1px 1px 10px 0 rgba(0,0,0,.05);
            display:flex;
            align-items:center;
            .profile-tabs--container{
                display:flex;
                flex-grow: 1;
                height:100%;
                align-items: center;
            }
            .profile-follow--container{
                display:flex;
                align-items: center;
                margin-right:20px;
            }
        }
        .profile-picture{
            height:300px;
            display:flex;
            position:absolute;
            justify-content: flex-end;
            flex-flow:column;
            .profile-picture--container{
                position:relative;
                width:176px;
                height:176px; 
                box-shadow:0 0 20px 0 rgba(0,0,0,.05);
                background:white; 
                margin:0px 0px 24px 24px;  
                overflow:hidden;
                .profile-picture--image {
                    position: absolute;
                    left: -9999px;
                    right: -9999px;
                    margin: auto;
                }
            }
        }
    }
    .profile-detail--container{
        width:100%;
        height:600px;
        margin:auto;
        margin-top:40px;
        background:white;
        box-shadow:0 0 10px 0 rgba(0,0,0,.05);
        padding:46px 36px;
    }
}
.ratings--container{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    .ratings--icons{
        color:#727e88;
    }
    .ratings--text{
        margin:0px 20px;
    }
    &.hidden{
        display:none;
    }
}
