@import "variables.scss";

@media screen and (max-width: 568px) {
    html{
        width:100vw!important;
    }
    body{
        margin:0px!important;
        font-size:12px!important;
    }

    /* Icon */
    .icon{
        height:16px!important;
        width:16px!important;
    }

    /* Font Size */
    .sm\:font-12px{
        font-size:12px!important;
    }

    /* Button */
    .sm\:btn-flat{
        border:0px!important;
    }

    /* Display */
    .sm\:hidden{
        display:none!important;
    }

    /* Padding */
    .sm\:p-0{
        padding:0px!important;
    }
    .sm\:p-auto{
        padding:auto!important;
    }

    /* Margin */
    .sm\:m-0{
        margin:0px!important;
    }
    .sm\:m-auto{
        margin:auto!important;
    }
    .sm\:ml-20{
        margin-left:20px!important;
    }

    /* Width */
    .sm\:w-full{
        width:100%!important;
    }

    /* Justify */
    .sm\:justify-center{
        display:flex!important;
        justify-content:center!important;
    }

    /* Flex */
    .sm\:flex{
        display:flex!important;
    }
    .sm\:order-1{
        order:1!important;
    }

    /* CUSTOM */
    .profile-main--container{
        height:482px!important;
        .profile-picture{
            margin:0px!important;
            width:100%!important;
            justify-content: center!important;
            .profile-picture--container{
                width:130px!important;
                height:130px!important;
                margin:auto!important;
            }
        }
        .profile-cover{
            .profile-data{
                margin-top:38%!important;
                flex-flow:column-reverse!important;
                .profile-data--element{
                    h1{
                        font-size:20px!important;
                        font-weight:600!important;
                        color:black!important;
                    }
                }
            }
        }
    }
}
.ratings--container{
    display:flex!important;
    margin-left:20px!important;
    flex-flow: column;
    &.sm\:hidden{
        display:none!important;
    }
    .ratings--icons{
        .icon{
            color:$primary!important;
        }
    }
    .ratings--text{
        margin:0px!important;
        align-self: flex-start;
    }
}