$font-family:"Open Sans";

$background :#f5f8f9;
$primary:#007ee5;
$primary-darker:#0073d1;
$border:#f4f5f6;
$shadow:#e0e4e7;  

$button-default-color:#d0dce7;
$button-default-color-darker:#c9d5df;

$icon-default-color:#d0dce7;

$text-default-color:#999c9e;
$text-color-darker:#999c9e;